* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hero-section {
  padding: 150px 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 6px;
  margin-top: 60px;
}

.topic {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.topic img {
  background: rgb(55 48 163);
  border-radius: 5px;
}

.topic .topic-info {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topic .topic-info p {
  font-size: 13px;
}

.topic .topic-info a {
  background: #0069d9;
  color: #fff;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 13px;
}

#footer,
#header {
  background-color: #f0f0f0;
  padding: 15px 0;
}

#header nav.toggle a {
  margin: 0 15px;
}

#quiz-page {
  display: flex;
  flex-wrap: wrap;
}

#quiz-page .quiz-page-sidebar {
  flex: 0 0 30%;
}

#quiz-page .quiz-page-main {
  flex: 0 0 70%;
  min-height: 600px;
}

.que-options {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  /* color: #7a7a7a; */
  color: #333;
  font-size: 15px;
}

.que-options.active,
.que-options:hover {
  background: rgb(55 48 163);
  border-color: rgb(55 48 163);
  color: #fff;
}

.custom-min-height {
  min-height: 525px;
}

@media (max-width: 767px) {
  #header nav.toggle {
    position: absolute;
    transition: ease-in-out .5s;
    width: 100%;
    background-color: #f0f0f0;
  }

  #header nav.toggle.toggle-false {
    left: 0;
    top: -120px;

  }

  #header nav.toggle.toggle-true {
    top: 47px;
    left: 0;
  }

  #header nav.toggle a {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #fff;
  }

  #header nav.toggle.toggle-false a {
    color: #f0f0f0;
    border-color: #f0f0f0;
  }

  .hero-section {
    padding: 100px 30px;
    margin-top: 0;
    border-radius: 0 0 4px 4px;
  }

  #quiz-page {
    flex-direction: column-reverse;
  }

  #quiz-page .quiz-page-sidebar {
    flex: 0 0 100%;
  }

  #quiz-page .quiz-page-main {
    flex: 0 0 100%;
    min-height: 0;
  }
}